#shop{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background: rgba(25, 25, 25, .8);
}

.shop-inner-container{
	width: 50vw;
	height: auto;

	margin: 50px;
	padding: 50px;

	background: #FFF;
	position: absolute;
	top: 5%;
	left: 5%;
}