.player-start-ui{
	width: 100vw;
	display: flex;
	justify-content: center;
}

.player-name-modal{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player-name-input{
	border: solid #666;
	padding: 10px;
	border-radius: 25px;
	outline: none;
	/*box-shadow: 2px 2px 2px #666;*/
}

.player-name-input:focus{
	border: solid #008CBA;
}

.start-button{
	width: 100%;
	margin: 0px 0px 25px;
	padding: 10px;
	border-radius: 25px;
}

#starting-location-img-outer-wrapper{
	width: 100vw;
	height: 200px;
	text-align: center;
}

#starting-location-img-inner-wrapper{
	position: relative;
	width: 100vw;
	height: 200px;
	margin: 30px 0px;
}

#starting-location-img-inner-wrapper > h2{
	position: absolute;
	left: 30%;
}

#starting-location-img{
	width: 50%;
	height: 200px;
	object-fit: cover;
}