.current-event-description{
	width: 100%;
	height: 50px;
	text-align: center;
	color: red;
	font-size: 1.5em;
	font-weight: bold;
}

.continue-travel-button-div{
	display: flex;
	justify-content: center;

	width: 100%;
	height: 70px;
}

.arrival-image-container{
	height: 200px;
	width: 100%;
}

.arrival-image-container > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}