.header{
	position: relative;
}


.headerimgcontainer{
	height: 200px;
	width: 100%;
}

.headerimgcontainer > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.headertitletext{
	position: absolute;
	top: 10%;
	left: 5%;

	color: #098543;
	font-size: 70px;

	overflow: hidden;
}