/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

/*Universals*/

p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin:0px;
}

h4{
  margin: 5px;
  padding: 0px;
}

button{
border-radius: 4px;
background-color: #008CBA;
color: #FFF;
padding: 10px 20px;

border-radius: 25px;

box-shadow: none;
border: none;
margin: 10px;
}

button:hover{
  background-color: #FFF;
  color: #000;
  border: solid 4px #008CBA;
  cursor: pointer;
}


.alert-stripe{
  width: 100vw;
  text-align: center;
  background-color: orange;
  color: black;
  font-size: 24px;
  font-weight: bold;
}